body{
    padding: 10px;
}

.heading{
  color: #6c8091;
  font-weight: 500;
  font-family: "Poppins";
}

.card-container{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:900px) {
   .card-container{
    flex-direction: row;
    flex-wrap: wrap;
   } 
    
}

.food-card{
    background-color: white;
    padding: 10px;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:90%;
    margin-bottom: 15px;
}

@media screen and (min-width:900px){
    .food-card{
        width:40%;
        margin-right: 15px;
        padding: 20px;
    }
}

@media screen and (min-width:1200px){
    .food-card{
        width:20%;
        margin-right: 15px;
        padding: 20px;
    }
}


.img-style{
   border-radius: 8px;
   width: 100%;
   font-family: 'Poppins';
}

.food-heading{
    color:#6c8091;
    font-weight: 300;
}

.desc{
    color: #d0b200;
    font-family: "Poppins";
}